@import 'assets/scss/abstracts/variables';
@import 'assets/scss/base/utilities';
@import 'assets/scss/layout/grid';

.wrapper {
  width: 100%;
  flex: 1;

  .container {
    @extend %container;
    height: 100%;

    .inner {
      height: 100%;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      padding: 30px;

      .panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .button {
          @extend %button-brimary;
        }

        .sort {
          min-width: 30rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .select {
          width: 100%;
          max-width: 15rem;
          height: 3.5rem;
          border: $border-color-primary;
          color: $color-primary;
          font-size: 1.4rem;
          background-color: $color-white;
          padding: 5px;
          border-radius: 5px;
          margin-left: 1.5rem;

          &:focus {
            outline: none;
          }

          & > option {
            border-radius: 5px;

            &:hover {
              background-color: $background-secondary;
            }
          }
        }
      }

      .listTasks {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .caption {
          text-align: center;
          margin-bottom: 2rem;
          text-transform: uppercase;
          font-style: italic;
        }

        .totalTask {
          text-align: right;
          margin-bottom: 0.5rem;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .tableHead {
            display: flex;
            justify-content: space-between;
            border-bottom: $border-color-primary;
            border-top: $border-color-primary;
            margin-bottom: 1rem;
            padding: 0.5rem 0;

            & > *:not(:last-of-type) {
              border-right: $border-color-primary;
            }

            .number {
              flex-basis: 5%;
              text-align: center;
            }

            .image {
              flex-basis: 10%;
              text-align: center;
            }

            .description {
              flex-basis: 25%;
              font-size: 1.4rem;
              text-align: center;
            }

            .author,
            .email {
              text-align: center;
              flex-basis: 15%;
            }

            .status {
              flex-basis: 10%;
              text-align: center;
            }

            .action {
              flex-basis: 10%;
              text-align: center;
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: center;
          margin-top: 3.5rem;

          &__inner {
            @extend %full-flex-center;
          }

          &__prev,
          &__next {
            @extend %full-flex-center;
            color: $color-gray-light;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
              color: $background-primary;
            }
          }

          &__prev {
            margin-right: 1.5rem;
          }

          &__next {
            margin-left: 1.5rem;
          }

          &__currentPage {
            @extend %full-flex-center;
            border-bottom: $border-color-primary;
            font-weight: 600;
            color: $color-gray-dark;
            margin-right: 1rem;
          }

          &__totalPages {
            margin: 0 1rem;
            font-weight: 600;
            color: $color-gray-dark;
          }
        }
      }
    }
  }
}
